<div class="topnav" id="myTopnav">
    <a href="/index.html" id="indx" class="active test"><b> journal de bord </b></a>
    <a href="/sketches.html" id="sktchs" class="test"><b>experiments </b></a>
    <a href="/apropos.html" id="aprop" class="test"><b>à propos </b></a>
    <a href="#" class="icon" id="showmenu"> <i class="fas fa-bars"></i> </a>
</div>