<nav class="nav">
    <a href="/index.html" class="lnk">Journal de Bord</a>
    {{!-- <a href="/hello-world.html" class="lnk">Hello</a> --}}
    {{!-- <a href="/kiwi.html" class="lnk">Kiwi</a> --}}
    <a href="/sketches.html" class="lnk">Sketches</a>  
    <a href="#" class="lnk">À Propos</a>    
</nav>