{{!-- <header>
    <nav class="nav">
        <ul>
            <li><a href="/index.html" class="lnk">journal de bord |</a></li>
            <li><a href="/sketches.html" class="lnk">sketches |</a></li>
            <li><a href="/apropos.html" class="lnk">à propos |</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
</header> --}}

<div class="topnav" id="myTopnav">
    <a href="/index.html" id="indx" class="active test">journal de bord |</a>
    <a href="/sketches.html" id="sktchs" class="test">sketches |</a>
    <a href="/apropos.html" id="aprop" class="test">à propos |</a>
    <a href="#" class="icon" id="showmenu"> X </a>
</div>