<nav class="nav">
    <a href="/index.html" class="lnk">journal de bord</a>
    {{!-- <a href="/kiwi.html" class="lnk">Kiwi</a> --}}
    <a href="/sketches.html" class="lnk">sketches</a>  
    <a href="/apropos.html" class="lnk">à propos</a>    
</nav>