{{> header }}

<body>
    <nav id="topnavbar"></nav>
    {{!-- div pour ajouter le menu des sketches --}}
    <div id="menuwrap">
        <nav id="menuDiv"></nav>
    </div>
    <div id="sketchesDiv"></div>
</body>

</html>