<div class="card">
    {{#if img}}
    <img src={{img}} alt="Avatar">
    {{/if}}
    <div class="container">
        <h2><b>{{title}}</b></h2>
        <p>
            {{#if synopsis}}
            {{synopsis}}
            {{else}}
            No synopsis.
            {{/if}}
        </p>
    </div>
</div>