<div class="card">
    {{!-- <img src="img_avatar.png" alt="Avatar" style="width:100%"> --}}
    <div class="container">
        <h2><b>{{title}}</b></h2>
        <p>
            {{#if synopsis}}
            {{synopsis}}
            {{else}}
            No synopsis.
            {{/if}}
        </p>
    </div>