.card {
  display: block;
  margin: 20p 0px;
  padding: 5px;
  border-bottom: 3px;
  border-bottom-style: inset;
  border-bottom-color: rgba(215, 215, 215, 0.7);
}

.card img {
  width: 175px;
}

.container {
  font-size: 1em;
  display: flex;
  align-items: center;
  word-break: normal;

  p {
    text-align: justify;
    margin-left: 25px;
  }
}

#thumb {
  width: 175px;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
  .container {
    font-size: 0.65em;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .container {
    font-size: 0.85em;
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .container {
    font-size: 1em;
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  .container {
    font-size: 1.1em;
  }
}
