.card {
  display: block;
  padding-top: 35px;
  border-bottom: 3px;
  border-bottom-style: inset;
  border-bottom-color: rgba(215, 215, 215, 0.7);
}

.card:hover {
}

.card img {
  width: 50%;
}

.container {
  padding: 2px 16px;

  p {
    text-align: justify;
    padding: 5px 15px;
  }
}
