@import "../animation.scss";

@font-face {
  font-family: Clip;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

a {
  color: rgba(32, 32, 32, 0.9);
  &:link,
  &:visited {
    text-decoration: none;
  }
}

.jdb-head {
  display: inline-block;
  width: 90%;
  max-width: 1400px;
  text-align: center;
  margin-top: 1.25em;
  font-family: "Clip";

  h1 {
    display: inline-block;
    font-size: 2em;
  }
}

.jdb-titre {
  width: 95%;
}

.jdb-body {
  display: inline-block;
  width: 77%;
  max-width: 1000px;
  text-align: center;
  margin: 5px 35px;
  padding: 0 50px;
}

#thumb > img {
  border: solid 4px bisque;
}

/* SMARTPHONES PORTRAIT */
@media only screen and (min-width: 300px) {
}
.jdb-head {
  h1 {
    font-size: 1.5em;
  }
}

/* SMARTPHONES LANDSCAPE */
@media only screen and (min-width: 480px) {
  .jdb-head {
    h1 {
      font-size: 2em;
    }
  }
}

/* TABLETS PORTRAIT */
@media only screen and (min-width: 768px) {
  .jdb-head {
    h1 {
      font-size: 3em;
    }
  }
}

/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
  .jdb-head {
    h1 {
      font-size: 4em;
    }
  }
}
