@font-face {
  font-family: spaceGrotesk;
  src: url(./media/fonts/SpaceGrotesk-Regular.otf);
}

@font-face {
  font-family: alegreya;
  src: url(./media/fonts/Alegreya-Regular.ttf);
}

body {
  background-color: white;
  text-align: center;
  font-family: alegreya;
  font-size: 1.15rem;
  padding: 0;
  margin: 0;
  border: 0;
}

div {
  padding: 0;
  margin: 0;
  border: 0;
}

.wrapper {
  text-align: center;
  line-height: 1.8rem;
}
