body{
    background-color: black;
    padding:0;
    margin: 0;
    border:0;
  }
  canvas{
    padding:0;
    margin: 0;
    border:0;
    display: block
  }
  div{
    padding:0;
    margin: 0;
    border:0;
    display: block
  }
  